Brotli==1.1.0
cffi==1.17.1
cryptography==44.0.3
jeepney==0.9.0
mutagen==1.47.0
packaging==25.0
pycparser==2.22
pycryptodomex==3.23.0
pyparsing==3.2.3
SecretStorage==3.3.3
setuptools==80.9.0
websockets==15.0.1
yt-dlp==2025.11.12
yt-dlp-ejs==0.3.1
